.heading {
    margin-right: auto;
    margin-left: auto;
    line-height: 2.5rem;
    font-weight: 400;
    font-family: 'Press Start 2P', sans-serif;
}

body {
    background-color: rgb(84, 84, 249);
    text-align: center;

}
.calcContainer {
    background-color: rgb(158, 158, 158);
    padding-top: 12px;
    padding-bottom: 12px;
    height: 310px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border-style: outset;
}
input {
    margin-bottom: 5px;
    width: 130px;
}
.button {
    display: inline-block;
    height: 45px;
    width: 45px;
    text-align: center;
    background-color: lightgray;
    color: black;
    line-height: 50px;
    margin-top: 5px;
    border-radius: 10px;
    border-style: groove;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.equalButton{
    display: inline-block;
    height: 45px;
    width: 45px;
    text-align: center;
    background-color: darkgray;
    line-height: 50px;
    margin-top: 5px;
    border-radius: 10px;
    border-style: groove;
}

.equationHistory {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    text-align: left;
    font-family: 'Space Mono', monospace;
    font-weight: 200;
}

.historyHeading {
    text-align: left;
    line-height: 2.5rem;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 200;
}

#c {
    background-color: orange;
    width: 35px;
    border-radius: 7px;
}
#ca {
    background-color: rgb(240, 84, 84);
    width: 35px;
    border-radius: 7px;
}

#plus, #minus, #multiply, #divide {
    background-color: rgb(249, 249, 62);
}

#equal {
    background-color: rgb(58, 201, 6);
}

#plus:hover, #minus:hover, #multiply:hover, #divide:hover, #equal:hover,
.button:hover, #c:hover, #ca:hover, .answerScreen:hover, .historyButton:hover {
    background-color: darkgray;
}

.answerScreen {
    line-height: 50px;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 210px;
    height: 45px;
    background-color: rgb(225, 224, 224);
    border-style: inset;
    font-family: 'Press Start 2P', sans-serif;
}

.finalAnswer {
    margin-top: 0;
    margin-bottom: 0;
}