body {
    background-color: aquamarine;
    text-align: center;
}
.calcContainer {
    background-color: rgb(115, 115, 115);
    padding-top: 12px;
    padding-bottom: 12px;
    height: 310px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}
input {
    margin-bottom: 5px;
    width: 130px;
}
.button {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: aliceblue;
    line-height: 50px;
    margin-top: 5px;
    border-radius: 10px;
}

/* .button:hover {
    background-color: darkgray;
} */

.equalButton{
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: darkgray;
    line-height: 50px;
    margin-top: 5px;
    border-radius: 10px;
}

.equationHistory {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    text-align: left;
}

.historyHeading {
    text-align: center;
}

#c {
    background-color: red;
    width: 35px;
    border-radius: 7px;
}
#ca {
    background-color: orange;
    width: 35px;
    border-radius: 7px;
}

#plus, #minus, #multiply, #divide {
    background-color: yellow;
}

#equal {
    background-color: rgb(58, 201, 6);
}

#plus:hover, #minus:hover, #multiply:hover, #divide:hover, #equal:hover,
.button:hover, #c:hover, #ca:hover, .answerScreen:hover, .historyButton:hover {
    background-color: darkgray;
}

.answerScreen {
    line-height: 50px;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 220px;
    height: 50px;
    background-color: rgb(189, 188, 188);
}

.finalAnswer {
    margin-top: 0;
    margin-bottom: 0;
}